.shopping {
  text-align: center;
  font-weight:bold;
}

a {
  display: block;
}

.shoppingTitle {
  background: black;  
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  font-size: 30px;
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
}

.shoppingCategoryMens {
  color: blue;
}

.shoppingCategoryWomens {
  color: purple;
}

.shoppingCategoryElectronics{
  color: gray;
}

.shoppingCategoryjewelery{
  color: gold;
}